<div class="row">
  <div class="col-md-6">
    <p><a href="#" class="btn btn-default">Button</a></p>
    <p><a href="#" class="btn btn-primary">Alternate Button</a></p>
    <p><a href="#" class="btn btn-success">Success Button</a></p>
    <p><a href="#" class="btn btn-info">Info Button</a></p>
    <p><a href="#" class="btn btn-warning">Warning Button</a></p>
    <p><a href="#" class="btn btn-danger">Danger Button</a></p>
    <p><a href="#" class="btn btn-text">Text Button</a></p>
  </div>
  <div class="col-md-6">
    <p><a href="#" class="btn btn-default disabled">Disabled Button</a></p>
    <p><a href="#" class="btn btn-primary disabled">Disabled Alternate Button</a></p>
    <p><a href="#" class="btn btn-success disabled">Disabled Success Button</a></p>
    <p><a href="#" class="btn btn-info disabled">Disabled Info Button</a></p>
    <p><a href="#" class="btn btn-warning disabled">Disabled Warning Button</a></p>
    <p><a href="#" class="btn btn-danger disabled">Disabled Danger Button</a></p>
    <p><a href="#" class="btn btn-text disabled">Disabled Text Button</a></p>
  </div>
</div>

