<form action="{{ url }}" method="post" class="form-inline">
  <div class="form-group">
		<label for="search-field" class="sr-only">Search</label>
		<input type="search" placeholder="Search" id="search-field" class="form-control" />
		<button class="btn btn-primary">
			<i class="glyphicon glyphicon-search"></i>
			<span class="sr-only">Search</span>
		</button>
	</div>
</form>