<form action="{{ url }}" method="post" class="form-inline">
	<label for="newsletter-scope" class="sr-only">Sign up for our newsletter</label>
	<div class="form-group">
		<input type="newsletter" placeholder="E-mail address" id="newsletter-field" class="form-control" />
		<button class="btn btn-primary">Sign Me Up</button>
	</div>
</form>