<form action="#">
    <fieldset class="options">
        <legend>Checkbox <abbr title="Required">*</abbr></legend>
        <ul>
            <li>
                <div class="checkbox">
                    <label for="checkbox1">
                        <input id="checkbox1" name="checkbox" type="checkbox" checked="checked"> Choice A
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label for="checkbox2">
                        <input id="checkbox2" name="checkbox" type="checkbox" checked="checked"> Choice B
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label for="checkbox3">
                        <input id="checkbox3" name="checkbox" type="checkbox" checked="checked"> Choice C
                    </label>
                </div>
            </li>
        </ul>
    </fieldset>
</form>