<form action="#">
    <fieldset class="options">
        <legend>Radio</legend>
        <ul>
            <li>
                <div class="radio">
                    <label for="radio1">
                        <input id="radio1" name="radio" type="radio" checked="checked"> Option 1
                    </label>
                </div>
            </li>
            <li>
                <div class="radio">
                    <label for="radio2">
                        <input id="radio2" name="radio" type="radio" checked="checked"> Option 2
                    </label>
                </div>
            </li>
            <li>
                <div class="radio">
                    <label for="radio3">
                        <input id="radio3" name="radio" type="radio" checked="checked"> Option 3
                    </label>
                </div>
            </li>
        </ul>
    </fieldset>
</form>