<ul>
	<li>
		<i class="glyphicon glyphicon-eye-open"></i>
	</li>
	<li>
		<i class="glyphicon glyphicon-eye-close"></i>
	</li>
	<li>
		<i class="glyphicon glyphicon-pencil"></i>
	</li>
	<li>
		<i class="glyphicon glyphicon-trash"></i>
	</li>
</ul>